.env
uploads/
static/audio/*.mp3
__pycache__/
*.pyc
.venv/
myenv/
Lib/
Include/
Scripts/
pyvenv.cfg
*.egg-info/
site-packages/
pip-*.dist-info/
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.DS_Store
*.swp
*.bak
*.tmp
*.old
*.orig
*.out
*.class
*.so
*.dll
*.exe
*.bin
*.cache
*.coverage
*.mypy_cache/
*.pytest_cache/
*.tox/
*.vscode/
*.idea/
*.history/
*.egg/
*.env/
*.envrc/
*.goutputstream-*/
node_modules/
